<mat-sidenav-container class="example-container">
    <mat-sidenav id="sidebar" class="mat-elevation-z8" #sidenav mode="side" opened class="example-sidenav"
        [fixedInViewport]="options.value.fixed">
        <button mat-button class="menu-button" [routerLink]="['/pages/home']">
            <mat-icon>assignment</mat-icon>
            <span>Previous transactions</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/pages/pos']">
            <mat-icon>credit_card</mat-icon>
            <span>POS</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/pages/products']">
            <mat-icon>info</mat-icon>
            <span>Products</span>
        </button>
    </mat-sidenav>
    <!-- <mat-sidenav-content [formGroup]="options">
        <div class="content mat-elevation-z8"><router-outlet></router-outlet></div>
    </mat-sidenav-content> -->
</mat-sidenav-container>