<mat-sidenav-container class="example-container">
    <mat-sidenav id="sidebar" class="mat-elevation-z8" #sidenav mode="side" opened class="example-sidenav"
        [fixedInViewport]="options.value.fixed">
        <div>
            <h2>{{welcomeUser}}</h2>
        </div>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-sidenav>
    <!-- <mat-sidenav-content [formGroup]="options">
        <div class="content mat-elevation-z8"><router-outlet></router-outlet></div>
    </mat-sidenav-content> -->
</mat-sidenav-container>
<nav mat-tab-nav-bar mat-align-tabs="end">
    <a mat-tab-link [routerLink]="['/pages/home']">Home</a>
    <a mat-tab-link [routerLink]="['/pages/pos']">Watchlist</a>
    <a mat-tab-link [routerLink]="['/pages/products']">My movies</a>
    <!-- <mat-tab label="Home">Home</mat-tab>
    <mat-tab label="Watchlist" [routerLink]="['/pages/products']"><app-products></app-products></mat-tab>
    <mat-tab label="My movies">My movies</mat-tab> -->
</nav>