body{
    background-color: rgb(216, 211, 211);
}
#container{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-card{
    padding:0px;
    width: 400px;
    min-height:320px;
   
    margin:auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

mat-card-content{
    padding: 20px;
    margin:0px;
    padding-bottom:0px;

    mat-form-field{
        width:100%;
    }
}

 mat-card-footer{
    padding:20px;
    padding-top:0px;
    padding-bottom:0px;
    display:flex;
    justify-content: flex-end;
    margin-right:0.2rem;
 }

 #loginNav{
    text-decoration: none;
    color: rgb(83, 75, 75);
    margin-left: 1.7rem;
 }

 #loginResponse{
    text-decoration: none;
    color: rgb(238, 18, 18);
    margin-left: 1.7rem;
    margin-top: 1rem;
 }

 #loginBtn{
    position: absolute;
    top: 260px;
    right: 5;
 }