.new-class {
    position: absolute;
    margin-left: 350px;
    margin-top: 20px;
  }

  .demo-table {
    width: 1200px;
    height: 700px;
    overflow-y: scroll;
    display: block;

    th, td{
      width: 300px;
    }
}
