<app-pages></app-pages>
<div class="new-class">
  <h1>Previous transactions:</h1>
  <table mat-table [dataSource]="billHeaders" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date  | date: 'dd.MM.yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="buyerId">
      <th mat-header-cell *matHeaderCellDef> Buyer </th>
      <td mat-cell *matCellDef="let element"> {{element.buyer.name}} </td>
    </ng-container>
    <ng-container matColumnDef="totalDiscount">
      <th mat-header-cell *matHeaderCellDef> Discount </th>
      <td mat-cell *matCellDef="let element"> {{element.totalDiscount}}% </td>
    </ng-container>
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef> Total price </th>
      <td mat-cell *matCellDef="let element"> {{element.totalAmount | currency:' KM ' }} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Bill info </th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['/pages/bill', element.id]"> <mat-icon>info</mat-icon> </a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>