<form [formGroup]="form" (submit)="submit()">
    <div id="container" [formGroup]="form">

        <mat-card>
          
          <mat-toolbar color="primary">
            <span>Register</span>
          </mat-toolbar>
      
      
         <mat-card-content>
            
            
          <mat-form-field appearance="outline" >
            <mat-label>Enter Firstname</mat-label>
            <input 
              formControlName="firstName" 
              type="text" 
              matInput 
              placeholder="Enter Firstname"
            />
            <mat-hint *ngIf="form.touched && form.controls['firstName'].hasError('firstName')">Firstname is required</mat-hint>
          </mat-form-field>

          
          <mat-form-field appearance="outline" >
            <mat-label>Enter LastName</mat-label>
            <input 
              formControlName="lastName" 
              type="text" 
              matInput 
              placeholder="Enter Lastname"
            />
            <mat-hint *ngIf="form.touched && form.controls['lastName'].hasError('Lastname')">Lastname is required</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Enter Email</mat-label>
            <input 
              formControlName="email" 
              type="email" 
              matInput 
              placeholder="Enter email"
            />
            <mat-hint *ngIf="form.touched && form.controls['email'].hasError('email')">Email is required</mat-hint>
          </mat-form-field>
          
          <mat-form-field appearance="outline" >
            <mat-label>Enter Password</mat-label>
            <input 
              formControlName="password" 
              matInput 
              type="password" 
              placeholder="Enter password"
            />
            <mat-hint *ngIf="form.controls['password'].hasError('password')">Password is required (beetwen 6 and 16 charachters)</mat-hint>
          </mat-form-field>
          
        </mat-card-content>
        
         <mat-card-footer>
           
            <button (click)="submit()" mat-raised-button color="primary">Register</button>
            
          </mat-card-footer>
          <a id="loginNav" href ="" (click)="toLogin()">Already a user... Login</a>
        </mat-card>
      </div>