<app-pages></app-pages>
<div class="new-class">
  <h1>MY MOVIES</h1>
  <table mat-table [dataSource]="reviews" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef id="rank"> Rank </th>
      <td mat-cell *matCellDef="let element" id="rank"> {{element.rank}}. </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef id="title"> Title </th>
      <td mat-cell *matCellDef="let element" id="title"><img src="{{element.image}}" width="100" /> <a [routerLink]="['/pages/movie', element.movieId]"> {{element.fullTitle}} </a> </td>
    </ng-container>
    <ng-container matColumnDef="imDbRating">
      <th mat-header-cell *matHeaderCellDef id="rating"> IMDb Rating </th>
      <td mat-cell *matCellDef="let element" id="rating">
        <mat-icon class="material-icons-outlined" [ngStyle]="{'color':'yellow'}">star</mat-icon> {{element.imDbRating}}
      </td>
    </ng-container>
    <ng-container matColumnDef="imDbRatingCount">
      <th mat-header-cell *matHeaderCellDef id="imDbRatingCount"> Number of Ratings </th>
      <td mat-cell *matCellDef="let element" id="imDbRatingCount"> {{element.imDbRatingCount}} </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef id="myrating"> My Rating </th>
      <td mat-cell *matCellDef="let element" id="myrating">
        <mat-icon class="material-icons-outlined" [ngStyle]="{'color':'yellow'}">star</mat-icon> {{element.rating}}/5
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>