.new-class {
    position: absolute;
    margin-left: 350px;
    margin-top: 20px;
}

.demo-table {
    width: 700px;
}
  
.add-new {
    position: absolute;
    margin-left: 500px;
    margin-top: -50px;
}

#editButton {
    margin: 5px;
}

#deleteButton {
    margin: 5px;
}

#optionsHeader {
    text-align: center;
}

#matCell {
    text-align: center;
}