.movieInfo {
    position: absolute;
    margin-left: 350px;
}


#movieProperties {
    margin-left: 280px;
    margin-top: -280px;
}

#moviePropertiesRest {
    margin-left: 280px;
    margin-top: -120px;
}

#watchlistButton {
    margin-top: 10px;
}

#updateCommentButton {
    margin-top: 10px;
}

#postCommentButton {
    margin-top: 10px;
}

#formForComment {
    margin-top: 10px;
}

#ratingAndComment {
    margin-top: 150px;
}
 