<app-pages></app-pages>
<div class="movieInfo">
    <h1><strong>{{this.movieTitle}}</strong></h1>
    <mat-divider></mat-divider>
    <img src="{{this.movieImage}}" width="200" />
    <div id="movieProperties">
        <h3><strong>Genre</strong> {{this.genre}}</h3>
        <p>{{this.moviePlot}}</p>
        <h3><strong>Director</strong> {{this.director}}</h3>
        <h3><strong>Stars</strong> {{this.movieStars}}</h3>
        <h3><strong>IMDb rating</strong> {{this.imdbRating}} <mat-icon class="material-icons-outlined"
                [ngStyle]="{'color':'#FFEB3B'}">star</mat-icon>
        </h3>
        <h4><strong>Runtime</strong> {{this.movieRuntime}}</h4>
        <mat-divider></mat-divider>
        <h4 id="movieComment" *ngIf="this.movieComment != null"> <strong>My Comment</strong> {{this.movieComment}}</h4>
        <div id="moviePropertiesRest">
            <h4><strong>No. of votes</strong> {{this.numberOfVotes | number}}</h4>
            <h4><strong>Awards</strong> {{this.movieAwards}}</h4>
        </div>
    </div>
    <div id="ratingAndComment">
        <button id="watchlistButton" (click)="addToWatchlist()" mat-raised-button color="primary"
            *ngIf="!this.isOnWatchlist">Add to
            watchlist</button>
        <button id="watchlistButton" (click)="deleteFromWatchlist()" mat-raised-button color="warn"
            *ngIf="this.isOnWatchlist">Remove from
            watchlist</button>
        <ngx-star-rating class="rating" (ngModelChange)="addUpdateRating()" [(ngModel)]="this.rating" [id]="'rating'">
        </ngx-star-rating>
        <button id="updateCommentButton" (click)="openUpdateComment()" mat-raised-button color="primary"
            *ngIf="this.hasComment">Update
            Comment <mat-icon class="material-icons-outlined">comment</mat-icon></button>
        <form id="formForComment" *ngIf="this.commentOpened" [formGroup]="commentForm!" (ngSubmit)="onSubmitComment()">
            <div class="form-group"><textarea class="form-control" placeholder="Comment a movie"
                    formControlName="comment"
                    [ngClass]="{ 'is-invalid': submitted && commentForm!.controls['comment'].errors }"></textarea>
                <div class="invalid-feedback" *ngIf="submitted && commentForm!.controls['comment'].errors">
                    <div *ngIf="commentForm!.controls['comment'].errors['required']">Comment is required</div>
                    <div *ngIf="commentForm!.controls['comment'].errors['maxlength']">Comment must be at most 300
                        characters
                    </div>
                </div>
            </div>
            <div id="postCommentButton" class="form-group" *ngIf="!this.hasComment"><button type="submit"
                    class="btn btn-success">Post
                    Comment</button></div>
            <div id="updateCommentButton" class="form-group" *ngIf="this.hasComment"><button type="submit"
                    class="btn btn-success">Update
                </button></div>
        </form>
    </div>
</div>