<app-pages></app-pages>
<div class = "new-class">
    <h1>Point of sale</h1>
    {{userMessage}}
    <div class="container">
          
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let element"> {{element.cipher}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="measure">
                <th mat-header-cell *matHeaderCellDef> Measure </th>
                <td mat-cell *matCellDef="let element"> {{element.measure}} </td>
              </ng-container>
          
            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> Count </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
              </ng-container>
           
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <ng-container id="options" matColumnDef="options">
              <th class="opt-header" mat-header-cell *matHeaderCellDef> Options </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="warn">-</button>
                <button mat-mini-fab color="primary">+</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            
          </table>

    </div> 
</div>