<app-pages></app-pages>
<div id="grids">
  <div id="headerGrid">
    <!-- <p>This is grid for buyer information</p> -->
    <mat-form-field appearance="fill">
      <mat-label>Buyer</mat-label>
      <mat-select>
        <mat-option *ngFor="let buyer of this.buyers" [value]="buyer.name" (click)="selectedBuyer(buyer)">
          {{buyer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h2>From: {{this.city}}</h2>
    <h2>Address: {{this.address}}</h2>
    <h2 id="dateOfBill">Date: {{this.today | date: 'dd/MM/yyyy'
    }}
      <span class="material-icons">
        calendar_today
      </span>
    </h2>

  </div>
  <mat-divider></mat-divider>
  <div id="billGrid">
    
    <!-- <p>This is grid for products</p> -->
    <mat-form-field>
      <mat-label>Choose a product</mat-label>
      <mat-select [(value)]="selectedProduct">
        <mat-option *ngFor="let product of products" [value]="product">{{product.name}}  {{product.price | currency: "EUR"}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>{{selectedProduct | json}}</p>
    <p>{{selectedProduct.name}}</p>
    <p>{{selectedProduct.price | currency:"EUR"}}</p>
    <button mat-mini-fab color="primary" (click)="addProductInBasket()">
      <mat-icon>check circle outline icon</mat-icon>
    </button>
 
  <mat-table mat-table [dataSource]="productsInBasket" class="mat-elevation-z8">
    <!--Item Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency: "EUR"}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: "EUR"}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[3,5]" showFirstLastButtons>

  </mat-paginator>



  </div>
  <mat-divider></mat-divider>
  <div id="calculateGrid">
    <!-- <p>This is grid for calculations</p> -->
    <h1>Ukupna cijena: {{getTotalCost() | currency:"EUR"}}</h1>
    <button mat-raised-button color="primary">Checkout</button>
  </div>
</div>