.new-class {
    position: absolute;
    margin-left: 350px;
    margin-top: 20px;
  }

  .demo-table {
    width: 1000px;
    //height: 700px;
    //overflow-y: scroll;
    display: block;
    //overflow: hidden;

      #title {
        width: 600px
      }
      #rating {
        width: 200px
      }
      #imDbRatingCount {
        width: 200px
      }
}

#watchlistTitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}
